In [2]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://upload.wikimedia.org/wikipedia/commons/d/d9/LegislatureFortEd.jpg")

# DISPLAYS A PICTURE OF OLD EDMONTON

In [3]:
##loading libraries

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab


import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

# for webscraping import Beautiful Soup 
from bs4 import BeautifulSoup

import xml

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Solving environment: done

# All requested packages already installed.

Libraries imported.

In [4]:
#Let's get the longitude and latitude of the city we are working with

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Address = "Edmonton, Canada"
geolocator = Nominatim()
location = geolocator.geocode(Address)
latitude = location.latitude
longitude = location.longitude
print("The longitude of ",Address," is ",longitude," and the latitude is ", latitude)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

The longitude of  Edmonton, Canada  is  -113.507996  and the latitude is  53.535411

In [5]:
#SET UP FOUR SQUARE

CLIENT_ID = '0NQN04U1JVDESO0VPD3JJEHI1LZJ2E2NG4T1O2RBZVYW5WIZ' # your Foursquare ID
CLIENT_SECRET = 'YYQ0VRDGU013CRRRRTGQ0Z3NRKFJK3B3J5SMHJG3OH5KYBA2' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 0NQN04U1JVDESO0VPD3JJEHI1LZJ2E2NG4T1O2RBZVYW5WIZ
CLIENT_SECRET:YYQ0VRDGU013CRRRRTGQ0Z3NRKFJK3B3J5SMHJG3OH5KYBA2

In [6]:
Van_data.loc[0, 'name']

NameError: name 'Van_data' is not defined

In [7]:
#Display a map of Edmonton



world_geo = r'world_countries.json' # geojson file

Ed_Map = folium.Map(location=[53.535411, -113.507996], width=1000, height=750,zoom_start=12)

Ed_Map

In [8]:
#DISPLAY FIRST 10 ROWS OF EDMONTON CRIME DATA
table = pd.read_csv("eps_crime.csv")
table.head(10)

,Neighbourhood Description (Occurrence),UCR Violation Type Group (Incident),Incident Reported Year,Incident Reported Quarter,Incident Reported Month,# Incidents
0,ABBOTTSFIELD,Assault,2009,Q1,1,3
1,ABBOTTSFIELD,Assault,2009,Q1,2,5
2,ABBOTTSFIELD,Assault,2009,Q1,3,2
3,ABBOTTSFIELD,Assault,2009,Q2,4,2
4,ABBOTTSFIELD,Assault,2009,Q2,5,6
5,ABBOTTSFIELD,Assault,2009,Q2,6,4
6,ABBOTTSFIELD,Assault,2009,Q3,8,3
7,ABBOTTSFIELD,Assault,2009,Q3,9,4
8,ABBOTTSFIELD,Assault,2009,Q4,10,4
9,ABBOTTSFIELD,Assault,2009,Q4,11,6

In [9]:
#DISPLAY EDMONTON 2014 CENSUS DATA FIRST 10 ROWS
cen = pd.read_csv("2014_CENSUS.CSV")

cen.head(10)

,WARD,NEIGHBOURHOOD_NUMBER,NEIGHBOURHOOD_NAME,CANADIAN_CITIZEN,NON_CANADIAN_CITIZEN,NO_RESPONSE
0,Ward 1,3140,CRESTWOOD,1916,79,292
1,Ward 1,3330,PARKVIEW,3077,97,139
2,Ward 1,3380,RIVER VALLEY CAPITOL HILL,0,0,0
3,Ward 1,4010,ALBERTA PARK INDUSTRIAL,0,0,0
4,Ward 1,4011,ANTHONY HENDAY,0,0,0
5,Ward 1,4018,ANTHONY HENDAY BIG LAKE,0,0,0
6,Ward 1,4020,ALDERGROVE,4157,689,504
7,Ward 1,4030,ARMSTRONG INDUSTRIAL,0,0,121
8,Ward 1,4040,BELMEAD,3629,554,426
9,Ward 1,4060,BRITANNIA YOUNGSTOWN,2694,417,1594

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

cen.plot.bar(title="CENSUS DATA EDMONTON",color="k",alpha=0.9,width=2)

In [ ]:
table.plot.bar(title="CRIME DATA EDMONTON",color="g",alpha=0.9,align="edge")